<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

        <title>Baptiste Bouthier • CV</title>
        <meta name="description" content="CV de Baptiste Bouthier, journaliste">
        <meta name="keywords" content="actualités, news">

        <link rel="shortcut icon" href="./assets/baptisteblanc.png">

        <link rel="canonical" href="https://baptistebouthier.github.io//">

        <meta property="og:site_name" content="Baptiste Bouthier"/>
        <meta property="og:url" content="https://baptistebouthier.github.io/" />
        <meta property="og:title" content="CV de Baptiste Bouthier, journaliste" />
        <meta property="og:description" content="Découvrez mon parcours, mes compétences, mes expériences." />
        <meta property="og:image" content="./assets/baptisteblanc23.png" />
        
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="Baptiste Bouthier" />
        <meta name="twitter:creator" content="Baptiste Bouthier" />
        <meta name="twitter:url" content="https://baptistebouthier.github.io/" />
        <meta name="twitter:title" content="CV de Baptiste Bouthier, journaliste" />
        <meta name="twitter:description" content="Découvrez mon parcours, mes compétences, mes expériences." />
        <meta name="twitter:image" content="./assets/baptisteblanc23.png">

        <style>
        html,body {
            margin: 0;
            padding: 0;
            height:100%;
            width:100%;
        }
        </style>
        
        <!-- Vendor -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/lodash/4.16.4/lodash.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="assets/styles/font-awesome.css">
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
        <link type="text/css" rel="stylesheet" href="assets/styles/styles.css">
    </head>
    <body>

        <div id="app">
            <div class="panel animation">
                <div class="intro animation">
                    <h1 v-html="titre"></h1>
                    <div class="journaliste"><p>Journaliste</p></div>
                    <p class="start mobile" v-on:click="$updateSlide()">📝 découvrez mon CV</p><br />

                    <div class="logo" v-on:click="$updateSlide()">
                            <img src="./assets/baptisteblanc.png">
                    </div>
                    <p align="center"><small><em>Optimisé pour mobile</em></small></p>
                    
                    <div class="twitterBB">
                        <a href="https://twitter.com/B_Bouthier" target="_blank"><img src="./assets/twitter.png"></a>
                    </div><br />
                </div>
                <div class="menu animation">
                    <h1 v-html="titre"></h1>
                    <ul>
                        <li v-for="m in articles" v-on:click="open(true, $event)">
                            <span class="smallPicto">{{ m.image }}</span><span v-html="m.titre"></span>
                        </li>
                    </ul>
                    <div class="closeMenu" v-on:click="hideMenu"></div>
                </div>
                <div class="nav">
                    <div class="titleNav" v-html="titre"></div>
                    <div class="btnNext" v-on:click="next()"></div>
                    <div class="btnPrev" v-on:click="prev()"></div>
                    <div class="btnNav" v-on:click="showMenu()"></div>
                </div>
            </div>
            <div class="sliderWrap animation">
                <section class="slider animation">
                    <article class="article animation" v-for="v in articles" v-bind:class="{openArticle: v.isOpen}">
                        <div class="picture">
                            <img v-bind:src="v.photo">
                        </div>
                        <header>
                            
                            <h2 v-html="v.chapo"></h2>
                            <h3 v-html="v.annee"></h3>
                        </header>
                        <div class="content" v-html="v.texte"></div>
                        <div class="closeArticle" v-on:click="close()" v-show="v.isOpen">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </div>
                        <div class="btnArticle" v-on:click="open(false, $event)"></div>
                    </article>
                </section>
            </div>
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="assets/scripts/app.js"></script>
    </body>
</html>
